/*style.css*/

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

.header{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-content: center;
    width: 100%;
    height: 50px;
}

.header-container{
    width: 1000px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.logo{
    font-weight: 900;
    font-size: 24px;
    color: #f9faf8;
}

.header-links-ul{
    display: flex;
    padding-left: 0px;
    list-style: none;
    gap: 30px;
}

.header-links-a{
    font-size: 18px;
    color: #e5e7eb;
    text-decoration: none; 
}

.signup{
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-content: center;
    width: 100%;
}

.signup-container{
    width: 1000px;
    align-items: center;
    display: flex;
    padding: 50px 0px;    
}

.signup-lefthalf{
    width: 500px;
    display: flex;
    flex-direction: column;
    padding-right: 50px;
}

.signup-header{
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.signup-description{
    font-size: 18px;
    color: #e5e7eb;
}

.rounded{
    border-radius: 20px;
}

.signup-button{
    margin-top: 20px;
    width: 100px;
    background-color: #3882f6;
    border-style: none;
    border-radius: 5px;
    color: #f9faf8;
    padding: 5px;
    font-weight: bold;
}

.tiles{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.tiles-contianer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
}

.tiles-header{
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    margin: 20px 0px;
}

.tiles-list{
    display: flex;
    gap: 50px;
}

.tile{
    height: 300px;
    width: 200px;
    display: flex;
    flex-direction: column;
}

.center-crop{
    object-fit: cover;
    width: 200px;
    height: 200px;
}

.tile-text{
    display: flex;
    justify-content: center;
    text-align: center;
}

.quote-section{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
}

.quote-container{
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote{
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 0px;
}

.thor{
    font-weight: bold;
    font-size: 24px;
    margin-left: auto;
    margin-top: 0px;
}

.content4{
    display: flex
}

.footer{
    display: flex;
}